$main-white: #FFFFFF;
$main-red: #FF0000;
$main-orange: #FF5543;
$main-teal: #2FC0B2;
$main-gray: #6C6C6C;
$main-purple: #3F2B4F;

$light-gray: #DBDBE3;

$break-small: 768px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-white;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.text-button {
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  width: 100%;
  @media (min-width: $break-small) {
    width: 300px;
  }
}

.pill-button {
  border: none;
  border-radius: 50px;
}

.primary-button {
  background-color: $main-orange;
  color: $main-white;
}

.secondary-button {
  background-color: $main-purple;
  color: $main-white;
}

.bold {
  font-weight: bold;
}
