@import 'core';

.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    padding: 10px;
    @media (min-width: $break-small) {
      padding: 20px;
    }

    .message {
      font-size: 18px;
      text-align: center;
    }

    .close-button {
      margin: 10px 20px 0 20px;
      width: 100%;
    }
  }
}

.modal-fade-out {
  opacity: 0;
  z-index: -9999;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  visibility: hidden;
}

.modal-fade-in {
  opacity: 1;
  z-index: 9999;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}