@import 'core';

.form-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0 0 0;
  @media (min-width: $break-small) {
    padding: 0 0 0 20px;
  }
}